.movie-detail {
  margin-top: 60px;
}

.title_text {
  font-size: 1.5rem;
  color: #4a4a4a;
}

.title_text span {
  color: #9b9b9b;
}

.desc_text span {
  color: #4a4a4a;
  text-align: justify;
}

.desc_text {
  color: #9b9b9b;
  text-align: justify;
}
